$font-prefix: ".." !default;
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"),
    url("#{$font-prefix}/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-BoldItalic.woff2")
      format("woff2"),
    url("#{$font-prefix}/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-BoldItalic.woff")
      format("woff");
}

@use "cyrillic";
@use "pi";
@use "latin3";
@use "latin2";
@use "latin1";
@use "greek";
