@import "$/scss/_vars";

.photo-blurb {
  img {
    border-radius: $brad;
    margin-right: $pad12;
  }

  p {
    margin-top: 0;
  }
}

.school {
  margin: 0;

  dd {
    margin-left: 0;
    white-space: pre-wrap;
  }

  span + span {
    margin-left: $pad6;
  }
}

.about-me-columns {
  grid-template-columns: 1fr auto;
}
