@import "$/scss/vars";

.side-card {
  background-color: $paper;
  border-radius: $brad;
  padding: $pad18;
  box-shadow: $low;
  width: calc(276px - $pad18 * 2);

  h4 {
    margin-bottom: $pad6;
  }

  &__footer {
    border-top: 1px solid $pale;
    padding-top: $pad12;
    margin-top: $pad12;
  }

  img {
    margin-right: $pad12;
    height: 26px;
    width: auto;
  }
}

.cards-container {
  margin-top: $pad24;

  &__shift-right {
    transform: translateX(112px);
  }

  &:global(.row) {
    > :nth-child(n + 2) {
      margin-left: $pad24;
    }
  }

  &:global(.column) {
    > :nth-child(n + 2) {
      margin-top: $pad24;
    }
  }
}
