.fadeUp-enter-active {
  animation: fade-in-top 440ms cubic-bezier(0.39, 0.57, 0.56, 1) alternate both;
  -webkit-animation: fade-in-top 440ms cubic-bezier(0.39, 0.57, 0.56, 1) alternate both;
}

.fadeUp-leave-active {
  animation: fade-in-top 440ms cubic-bezier(0.39, 0.57, 0.56, 1) reverse both;
  -webkit-animation: fade-in-top 440ms cubic-bezier(0.39, 0.57, 0.56, 1) reverse both;
}

.fadeInUp-enter-active {
  animation: fade-in-top 380ms cubic-bezier(0.39, 0.55, 0.5, 1) 440ms backwards both;
  -webkit-animation: fade-in-top 380ms cubic-bezier(0.39, 0.55, 0.5, 1) 440ms backwards both;
}

.fadeInUp-leave-active {
  animation: fade-in-top 380ms cubic-bezier(0.39, 0.5, 0.4, 1) reverse both;
  -webkit-animation: fade-in-top 380ms cubic-bezier(0.39, 0.5, 0.4, 1) reverse both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}