@import "$/scss/_vars";

.blank {
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
  padding: $pad6;
  margin: -$pad6;

  &:hover {
    outline: auto;
  }

  &:hover,
  &:focus {
    outline-color: currentColor;
  }

  &.active,
  &:active {
    opacity: 0.7;
  }
}

.wrapper {
  > :first-child {
    margin-right: $pad12;
  }
}
