// shades
$black: #0d0d0d;
$dark: #404040;
$medium: #737373;
$slate: #a6a6a6;
$light: #d9d9d9;
$pale: #f2f2f2;
$paper: #fafafe;

// accents
$blueblack: #011526;
$paleblue: #9cabd9;
$blue: #303af2;
$blue3: #1b91bf;
$ink: #0433bf;
$deepred: #bf0413;
$red: #d92344;
$raspberry: #d90404;
$emerald: #04bf7b;
$yellow: #f2cb05;
$pink: #f20789;
$fuschia: #f207a0;
$highlighter: #ecf235;

// extras
$js: #f7df1e;
$html: #f16529;
$css: #3c99dc;
