@import './colors';

$smooth: rgba($black, 0.1) 0px 4px 16px, rgba($black, 0.1) 0px 8px 32px;

$light: rgba($black, 0.09) 0px 3px 12px;

$box: rgba($blueblack, 0.25) 0px 4px 8px -2px,
  rgba($blueblack, 0.08) 0px 0px 0px 1px;

$low: rgba($blueblack, 0.15) 0px 2px 5px 0px, rgba($black, 0.05) 0px 1px 1px 0px;
