//paddings and margins
$pad144: 144px;
$pad96: 96px;
$pad48: 48px;
$pad36: 36px;
$pad32: 32px;
$pad24: 24px;
$pad18: 18px;
$pad: 16px;
$pad12: 12px;
$pad9: 9px;
$pad6: 6px;

$btn-pad: $pad9 $pad;

// border radiuses
$brad9: 9px;
$brad: 6px;
$brad3: 3px;

// font sizes
$fnt52: 48px;
$fnt28: 28px;
$fnt22: 22px;
$fnt-18: 18px;
$fnt16: 16px;
$fnt14: 14px;
$fnt12: 12px;

// borders
$border: 2px;
$actionbarbottom: 7px;
