@import "$/scss/_vars";

.content {
  max-width: 768px;
  margin: 0 auto;
  padding: $pad48;
  background-color: $paper;

  &__mobile {
    padding: $pad24;
  }

  address {
    font-style: normal;
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $pad48;
}

.text-columns {
  column-gap: $pad48;
  column-count: 1;

  &__2 {
    column-count: 2;
  }

  &__3 {
    column-count: 3;
  }
}

.spacer {
  margin: $pad 0;
  transform-origin: left bottom;

  &__0 {
    margin: 0;
  }

  &__6 {
    margin: $pad6 0;
  }

  &__12 {
    margin: $pad12 0;
  }

  &__24 {
    margin: $pad24 0;
  }

  &__32 {
    margin: $pad24 0;
  }

  &__48 {
    margin: $pad24 0;
  }
}

.grid {
  display: grid;
  grid-auto-flow: dense;
  gap: $pad12;

  &__1 {
    grid-template-columns: 1fr;
  }

  &__2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &__3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &__4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.gap__24 {
    gap: $pad24;
  }

  &.gap__48 {
    gap: $pad48;
  }

  &.gap__96 {
    gap: $pad96;
  }
}

.narrow {
  max-width: 530px;
}
