@import "/src/scss/_vars/index";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

// TODO: set min/max width sizes for all breakpoints
.body {
  padding: $pad48;
  border-radius: $brad9;
  box-shadow: $smooth;
  background-color: $paper;
  position: fixed;
  top: 50%;
  left: 50%;

  &__desktop {
    width: 628px;
    max-height: calc(100vh - $pad96 * 2);
  }
}

.heading {
  padding-bottom: $pad12;

  h3 {
    margin-right: $pad12;
  }
}

.content {
  padding-top: $pad12;
  // max-height: calc(100vh - ($pad12 * 2 + $pad48 * 3) - $pad6);
}

.backdrop {
  background-color: rgba($dark, 0.5);
}

.blurred {
  backdrop-filter: blur($pad6);
}
