@import "$/scss/vars";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &__toggled-on {
    transform: scale(1);

    .body {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__toggled-off {
    transform: scale(0);

    .body {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

// TODO: set min/max width sizes for all breakpoints
.body {
  padding: $pad48;
  border-radius: $brad9;
  box-shadow: $smooth;
  background-color: $paper;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform $fast;

  &__desktop {
    min-width: 628px;
    max-width: 628px;
    max-height: calc(100vh - $pad24 * 2);
  }
}

.heading {
  padding-bottom: $pad12;

  h3 {
    margin-right: $pad12;
  }
}

.content {
  padding-top: $pad12;
  max-height: calc(100vh - ($pad12 * 2 + $pad48 * 3) - $pad6);
}

.backdrop {
  background-color: rgba($paper, 0.5);
  transition: backdrop-filter $fast;

  &.blurred {
    backdrop-filter: blur($pad6);
  }
}
