@import "$/scss/vars";

.timeline {
  padding-top: $pad48;
}

.timeline-item {
  margin-bottom: $pad96;
}

.item-icon {
  background-color: white;
  border: $border solid $blueblack;
  padding: $pad18;
  left: -($pad48 + $pad18 + $border);
  user-select: none;

  object {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.sideline {
  width: $border;
  background-color: $blueblack;
  left: calc($border / 2 * -1);
  top: 0;
  bottom: 0;
}
