@import "/src/scss/_vars/index";

.app {
  min-height: 100vh;
  perspective: 282px;
  padding-left: $pad48;
  padding-right: $pad48;

  &__smallish {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
