@import "$/scss/vars";
@import "scss/flex";
@import "scss/typography";
@import "scss/display";
@import "scss/misc";
// @import 'scsssrc/helpers';

:root {
  color: $blueblack;
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("$/svg/bg-pattern.svg");
}

::selection {
  background: $highlighter;
}

::-moz-selection {
  background: $highlighter;
}
