a {
  color: $blue;
  text-decoration: none;

  .link-icon {
    width: $pad;
    height: $pad;
    opacity: 0;
    transition: opacity $fast linear;

    &__wrap {
      margin-left: $pad6;
      margin-right: $pad6;
    }
  }

  &.icon-visible {
    opacity: 1;

    &:active,
    &.active,
    &:hover {
      color: $blue;
    }

    &:focus {
      color: inherit;
    }

    &:focus,
    &:active,
    &.active {
      outline: auto;
    }

    .link-icon {
      opacity: 1;
    }
  }

  &:visited {
    color: $ink;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    .link-icon {
      opacity: 1;
    }
  }

  &.seamless {
    color: inherit;

    &:active,
    &.active,
    &:hover,
    &:visited {
      color: inherit;
    }
  }
}

button {
  border: none;
  background-color: $blue;
  color: $ink;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  padding: $btn-pad;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.hide {
  display: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
