@use "./vars";

$sizes: ($pad144, 144) ($pad96, 96) ($pad48, 48) ($pad36, 36) ($pad32, 32)
  ($pad24, 24) ($pad18, 18) ($pad, 16) ($pad12, 12) ($pad9, 9) ($pad6, 6);

@each $size, $name in $sizes {
  .p-#{$name} {
    padding: $size;
  }
}

@each $size, $name in $sizes {
  .m-#{$name} {
    padding: $size;
  }
}
