.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.h1,
h1 {
  font-size: 48px;
}

.h2,
h2 {
  font-size: 24px;
}

.h3,
.p,
p,
h3 {
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

code,
.code {
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}
